* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilo del logo*/
.App-logo {
  height: 1.3rem;
  margin: .5rem;
  pointer-events: none;
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}



.navBar {
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: 2rem;
  align-items: center;
  height: 5vh;
  padding: 2rem;
}

.listContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

/* estilo de la card item*/
.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
  background-color: white;
  padding: 1rem 0;
  border-radius: 1rem;

}

.item img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.button {
  background-color: #282c34;
  color: #61dafb;
  width: max-content;
  align-self: center;
  padding: .25rem;
  margin: .5rem;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
}