* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Colores*/
:root {
  --color-primario: #61dafb;
  --color-secundario: #76a0e9;
  --color-blanco: #ffffff;
  --color-gris: #7f7f82;
  --color-negro: #0a0000;

}

/*Estilo del logo*/
.App-logo {
  height: 1.3rem;
  margin: .5rem;
  pointer-events: none;
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}



.navBar {
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: 2rem;
  align-items: center;
  height: 5vh;
  padding: 2rem;
}

/*Carrito y cartwidget*/

.numeroEnCarrito {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  padding: 0.1rem;
}

.botonMenu {
  background-color: transparent;
  border: 0;
  color: var(--color-primario);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  /*gap: 0.2rem;*/
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}




.listContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

/* estilo de la card item*/
.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
  background-color: white;
  padding: 1rem 0;
  border-radius: 1rem;

}

.item img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.button {
  background-color: #282c34;
  color: #61dafb;
  width: max-content;
  align-self: center;
  padding: .25rem;
  margin: .5rem;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
}

/*Titulo*/
.titleSetup {
  background-color: #585c67;
  color: white;
  display: flex;
}

.textCenter {
  display: flex;

  justify-content: center;
  align-items: center;

}

.fontSize {
  font-size: 2rem;
}

.ItemTitle {
  font-size: 1.1rem;
  margin: 0.6rem;
}

.column {
  flex-flow: column;
}

.counter {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  background-color: #0a0000;
  color: #ffffff;
  border-radius: .7rem;
}

.itemCountbutton {
  background-color: #282c34;
  color: #61dafb;
  width: 1.6rem;
  align-self: center;
  padding: .25rem;
  margin: .5rem;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
}


/*card de detalle*/

.itemDetail {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.itemDetail img {
  object-fit: contain;
  height: 400px;
  width: 250px;
}

.footer {
  background-color: #585c67;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}